hr {
    width: 35%;
}

*{
    background-color: wheat;
    color: black;
    font-family: 'Dancing Script', cursive;
}

li {
    font-size: 40px;
}

h1 {
    font-size: 60px;
    text-decoration: underline;
}

a:hover {
    color: burlywood;
}